#heading
{
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
}
#footer
{
    text-align: center;
}
#footer a
{
    padding: 2%;
}
.bg-picture{
    background-image: url("../style/images/Room1.jpg");
}